.navbar {
  width: 95%;
  height: 70px;

  background-image: url("../../assets/Inventory-management-system.jpeg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000;

  color: white;

  border-bottom: 1px solid rgba(255,255,255,0.3);
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}


/* Title */
.navbar h2 {
  font-size: 22px;
  font-weight: 800;
  margin: 0;
}


/* Search box */
.navbar input {
  width: 250px;
  padding: 10px 15px;

  border-radius: 20px;
  border: none;
  outline: none;

  font-size: 15px;
}


/* Right side */
.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}


.nav-right span {
  font-size: 18px;
  font-weight: 600;
}


/* Login button */
.nav-right button {

  padding: 10px 25px;

  border: none;
  border-radius: 8px;

  background-color: white;
  color: #2563eb;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}


.nav-right button:hover {

  background-color: #2563eb;
  color: white;

}