.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
 
  background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url('https://images.unsplash.com/photo-1586528115955-c4bf1c4e9b4b?q=80&w=2070') 
    no-repeat center center/cover;
}

.login-box {
  background: rgba(255, 255, 255, 0.95); 
  backdrop-filter: blur(10px); 
  padding: 40px 30px;
  border-radius: 15px;
  width: 380px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}