.login-container {
  width: 350px;
  margin: 80px auto;
  padding: 25px;
  text-align: center;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px gray;
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.login-container button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-weight: bold;
}